.topnav {
    overflow: hidden;
    background-color: chocolate;
    height: 80px;
    
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: chocolate;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .dropdown a:hover{
    background-color: blue;
  }