<div class="topnav">
    <div class="row mt-3 ml-4" style="margin-right: 2px;">
        <a class=""[routerLink]="[ '/dashboard' ]" ><b>Mohshri Care</b> &nbsp;&nbsp;&nbsp;| Create Your first Campign</a>

        <!-- <div class="col-sm-2 offset-6">
            <div class="dropdown">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                Client
              </button>
              <div class="dropdown-menu dropright">
                <a class="dropdown-item dropdown-toggle  " href="#" data-toggle="dropdown">profile</a>
              <div class="dropdown-menu  ">
              <a class="dropdown-item" (click)=changepass() > Change Password</a>
              <a class="dropdown-item" href="#"> Setting</a>	
              </div>
                <a class="dropdown-item  " href="#" >Logout</a>
                 </div>
            </div>
          </div> -->


    </div>