
<section id="event-category" class="y-padded none mt-5">
    <div class="container-fluid ">
        <footer class="site-footer">
            <div class="container">
              <div class="row mt-5">
                <div class="col-sm-12 col-md-6">
                  <h6>About</h6>
                  <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> 
                    is an initiative  to help the upcoming programmers with the code. 
                    Scanfcode focuses on providing the most efficient code or snippets as the 
                    code wants to be simple.</p>
                </div>
      
                <div class="col-xs-6 col-md-3">
                  <h6>Categories</h6>
                  <ul class="footer-links">
                    <li><a >Create Add</a></li>
                    <li><a >UI Format</a></li>
                    <li><a >Image Selection</a></li>
                    <li><a >Cropping</a></li>
                    <li><a >Desktop App</a></li>
                  </ul>
                </div>
      
                <div class="col-xs-6 col-md-3">
                  <h6>Quick Links</h6>
                  <ul class="footer-links">
                    <li><a >About Us</a></li>
                    <li><a >Contact Us</a></li>
                    <li><a >Contribute</a></li>
                    <li><a >Privacy Policy</a></li>
                    <li><a>Sitemap</a></li>
                  </ul>
                </div>
              </div>
              <hr>
            </div>
            <div class="container">
              <div class="row mt-5">
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
                  <a >Mohshri Care</a>.
                  </p>
                </div>
      
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                  </ul>
                </div>
              </div>
            </div>
      </footer>
        </div>
</section>