p.promo-info {
    position: absolute;
    top: 45%;
    font-size: 70px;
    text-align: center;
    width: 100%;
    color: #fff;
  }
  h4{
    position: absolute;
    top: 45%;
    text-align: left;
  
  }
  .category-img{
    width: 280px;
    height: 250px;
    object-fit: contain;
  }
  .btn-medium {
	font-size: 0.9375em;
	padding: 0.5375em 1.375em;
}
.btn-radius {
    border-radius: 25px;
    width: 176px;
  }
  .btn-blue {
	color: #4682B4;
	border-color: #4682B4;
}
span.step {
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 1.8em;
    color: #4682B4;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 3.6em;
    margin-right: 5px;
    text-align: center;
    width: 3.6em;
  }
  
  .none {cursor: default;}
  .labelDesign{
      font-size: 36px;
  }
  .spanDesign{
    color: rgb(28, 25, 25);
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /* --------------------------------Footer------------------------------------------------------------------- */
