<section id="banner" class="backImg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0 col-lg-12 col-xs-18">
                <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let slide of slidesStore; let ind = index">
                        <ng-template carouselSlide [id]="ind">
                            <div class="position-relative promo-info-wrap">
                                <img [src]="slide.src" class="img-fluid w-100 corner-radius" alt="images"
                                    [title]="slide.title">
                                <p class="promo-info">{{slide.title}}</p>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

 <section id="event-category" class="y-padded none">
    <div class="container-fluid ">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-3">

            </div>
            <div class="col-md-8 col-lg-9 col-xs-12">
                <label class="labelDesign">10X <b>higher engagement</b> than regular ad formats</label>
            </div>
        </div>
        </div>
</section>

<section id="event-category" class="y-padded none">
    <div class="container-fluid ">
        <div class="row mt-3">
            <div class="col-md-1">

            </div>
           <div class="col-md-6">
            <iframe
            src="https://www.youtube.com/embed/iHhcHTlGtRs"
            frameborder="0"
            width="600"
            height="400" >
            </iframe>
           </div>
           <div class="col-md-1 col-xs-1 col-lg-1">
            <br>
            <span class="step">1</span> <br><br>

            <span class="step">2</span><br><br>
            <span class="step">3</span><br>
           </div>
      <div class="col-md-3 col-sm-4 col-lg-4">
        <br>
        
        <span class="spanDesign">Reach more <b>relevant audiences across</b> the web’s top publishers</span> <br><br><br>
        <span class="spanDesign">Attract <b>engaged traffic</b>  to your blogs, articles, videos, apps and more</span><br><br><br>
        <span class="spanDesign">Increase <b>awareness,</b> leads and sales</span><br><br><br><br>

        <a class="btn btn-medium btn-blue btn-radius"(click)="home()">Try It Now</a>
       </div>
        </div>
        </div>
</section>

  <app-footer></app-footer>

