<div class="topnav">
  <div class=" row mt-3 ml-4">
    <a class="" [routerLink]="[ '/dashboard' ]"><b>Mohshri Care</b> &nbsp;&nbsp;&nbsp;| Create Your first Campign</a>

    <div class="col-sm-2 offset-6 ">
      <!-- <div class="dropdown">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
          Client
        </button>
        <div class="dropdown-menu dropright">
          <a class="dropdown-item dropdown-toggle  " href="#" data-toggle="dropdown">profile</a>
        <div class="dropdown-menu  ">
        <a class="dropdown-item" (click)=changepass() > Change Password</a>
        <a class="dropdown-item" href="#"> Setting</a>	
        </div>
          <a class="dropdown-item  " href="#" >Logout</a>
           </div>
      </div> -->
      <div class="col order-last offset-md-5">
      <select (change) = "changepass($event)" class="pull-right col-auto" style="width: 20px;  height: 20px; border-radius: 100px; padding-top: 50px; ">
        <option value="" hidden></option>  
        <option value="pro">Profile</option>
        <option value="log">Logout</option>
              </select>
            </div>

    </div>


  </div>
</div>



<!-- <div class="container mt-4">
      <ul class="progressbar">
        <li class="active">Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
      </ul>
    </div> -->


<div class="col-md-12 mt-4">
  <ul class="nav nav-tabs mb-4 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-activated-employee-tab" data-toggle="pill" href="#pills-activated-employee"
        role="tab" aria-controls="pills-activated" aria-selected="false">Campaign Content</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-deactivated-employee-tab" data-toggle="pill" href="#pills-deactivated-employee"
        role="tab" aria-controls="pills-deactivated" aria-selected="true">Campaign Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-deactivated-employee-tab" data-toggle="pill" href="#pills-deactivated-checkout"
        role="tab" aria-controls="pills-deactivated" aria-selected="true">checkOut</a>
    </li>
  </ul>
</div>
<div class="px-4">
  <form>
    <div class="px-4">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-activated-employee" role="tabpanel"
          aria-labelledby="pills-activated-employee-tab">
          <div class="row">
            <div class="col-md-5">
              <label class="label">Add Your Content</label> <br>
              <input type="text" class="textField" maxlength="1000" placeholder="Enter Company Url">
              <span class="style">
                <button class="btn btn-success button" type="button" (click)="addUrl()">Add Url</button>

              </span>
              <span class="help-block">
                <span>(This can be an article, home page, or any URL)</span>
              </span> <br>
              <div class="content hide ">
                <label class="label">Compaign Content</label> <br>
                <div class="articels p-2">
                  <label class="label3">URL Content</label>
                  <i class="fa fa-remove close " (click)="close()"></i>

                  <div class="row">
                    <div class="col-md-2">
                      <div class="upload-profile position-relative d-inline-block mb-4">
                        <input type="file" class="form-control position-absolute" ng2FileSelect [uploader]="uploader"
                          accept="image/*,.jpg, .png,.jpeg">
                        <img src="{{imageUrl}}" id="profileImage-logo" width="150" height="150">
                        <i class="fa fa-camera"></i>
                      </div>

                    </div>
                    <div class="col-md-2">
                      <textarea id="w3mission" rows="6" cols="30">
                            At Mohshri.com you will learn 
                           </textarea>
                    </div>
                  </div>


                </div>

              </div>
              <br>

              <span class="style">
                <button class="btn btn-success button2" type="button">Next -></button>

              </span>
            </div>
            <div class="col-md-7">
              <label class="label">Preview Example</label> <br>
              <article>
                <div class="row">
                  <!-- <input type="file" class="form-control position-absolute"
                    ng2FileSelect [uploader]="uploader" accept="image/*,.jpg, .png,.jpeg"> -->
                  <img src="{{imageUrl}}" id="profileImage-logo" class="imageData">

                </div>
                <div class="screen">
                  <img src="assets/images/lottery.png" class="lottery">

                </div>
                <div class="row">
                  <!-- <input type="file" class="form-control position-absolute"
                    ng2FileSelect [uploader]="uploader" accept="image/*,.jpg, .png,.jpeg"> -->
                  <img src="{{imageUrl}}" id="profileImage-logo" class="imageData2">
                </div>


              </article>
            </div>
          </div>
        </div>
        <div class="tab-pane fade " id="pills-deactivated-employee" role="tabpanel"
          aria-labelledby="pills-deactivated-employee-tab">
          <div class="row">
            <div class="col-md-6 ">
              <label class="label4">Marketing Objective</label> <br>
              <label class="color"><b>What is your campaign's goal?</b> </label> <br>

              <select id="cars" class="styles">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select><br>
              <label class="label4 mt-4">Targeting</label> <br>
              <label class="color"><b>Where is your audience located?</b> </label> <br>

              <select id="cars" class="styles">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select> <br>

              <label class="color mt-4"><b>What platform is your audience using?</b> </label> <br>
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                <label class="custom-control-label" for="customCheck">Desktop</label> <br>

              </div>
              <div class="custom-control custom-checkbox mb-3">

                <input type="checkbox" class="custom-control-input" id="customCheck2" name="example2">
                <label class="custom-control-label" for="customCheck2">Mobile</label> <br>
              </div>
              <br>
              <!-- <label class="color"><b>Select Your Advertise Period</b> </label> <br>
                <label class="" ><b>From:</b></label>  &nbsp; &nbsp;
                <input type="date"> <br>
                <label class="" ><b>To:</b></label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <input type="date" style="margin-left: -5px;">
         -->
            </div>
            <div class="col-md-6">
              <label class="label4">Company selection</label> <br>
              <label class="color"><b>Select Company Name For Advertise</b> </label> <br>

              <select id="cars" class="styles">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select><br>
              <label class="label4">Budgeting</label> <br>
              <label class="black"><b>Define the direct impact of your campaign’s daily reach by setting your campaign
                  budget</b> </label> <br>
              <label class="color"><b>Daily Budget </b> </label> <br>

              <input id="cars" class="styles">

              <br>

              <label class="color"><b>Select Your Advertise Period</b> </label> <br>
              <label class=""><b>From:</b></label> &nbsp; &nbsp;
              <input type="date"> &nbsp; &nbsp; &nbsp;
              <label class=""><b>To:</b></label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <input type="date" style="margin-left: -5px;">
              <div class="row mt-4 ml-4">
                <button class="btn btn-danger buttonDesign" (click)="CheckOut()">Submit</button>
              </div>
            </div>
          </div>



        </div>
        <div class="tab-pane fade " id="pills-deactivated-checkout" role="tabpanel"
          aria-labelledby="pills-deactivated-employee-tab">
          <div class="billing">
            <div class="col-md-4 mt-5">
              <img src="/assets/images/cept.jpg" style="width: 140%;
                  /* height: auto; */
                  position: absolute;
                  left: 163%;
                  margin-top: 60px;
                  top: 22%;">
            </div>
            <div class="row">
              <div class="col-md-5">
                <label class="label4">Billing Info</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label class="color"><b>Company Name </b> </label> <br>
                <input type="text" class="companyName" disabled>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-3">
                <label class="color"><b>First Name </b> </label> <br>
                <input type="text" class="companyName" disabled>
              </div>
              <div class="col-md-3">
                <label class="color"><b>Last Name </b> </label> <br>
                <input type="text" class="companyName" disabled>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-3">
                <label class="color"><b>Address Line(1) </b> </label> <br>
                <input type="text" class="companyName" disabled>
              </div>
              <div class="col-md-3">
                <label class="color"><b>Address Line(2) </b> </label> <br>
                <input type="text" class="companyName" disabled>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-3">
                <label class="color"><b>City </b> </label> <br>
                <input type="text" class="companyName" disabled>
              </div>
              <div class="col-md-3">
                <label class="color"><b>State </b> </label> <br>
                <input type="text" class="companyName" disabled>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-3">
                <label class="color"><b>ZipCode</b> </label> <br>
                <input type="text" class="companyName" disabled>
              </div>
              <div class="col-md-3">
                <label class="color"><b>Country </b> </label> <br>
                <input type="text" class="companyName" disabled>
              </div>
            </div>

          </div>

          <div class="row mt-5">
            <div class="col-md-5">
              <label class="label4">Payment Details</label>
            </div>
          </div>
          <div class="row">
            <form>
              <div class="row">
                <div class="col-md-7">
                  <b>
                    <h3 class="text-primary" style="background-color:gainsboro">TOTAL AMOUNT :- </h3>
                  </b>
                </div>

                <!--Payment-Mode-->
                <div class="col-md-12">
                  <div class="my-4">
                    <div class="d-flex align-items-center pointer">
                      <h4 class="text-red mb-0">Select payment Mode</h4>
                      <!--<i class="fa fa-lg fa-plus-circle ml-3 text-red" aria-hidden="true"></i>-->
                    </div>
                    <div id="saved-card-details">
                      <div class="custom-control custom-radio my-4"
                        (change)="isCredit = true;isPaytm=false; isPhonePay = false">
                        <input type="radio" id="cardtype1" name="saved-cards" class="custom-control-input"
                          value="cardtype-debit" (click)="selectedCard = null">
                        <label class="custom-control-label" for="cardtype1">Credit/Debit Card</label>
                        <div class="col-md-6 mt-5">
                          <div id="card-element" [hidden]="!isCredit">
                            <!-- A Stripe Element will be inserted here. -->
                          </div>
                          <!-- Used to display form errors. -->
                          <div id="card-errors" role="alert" [hidden]="!isCredit"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 my-2 text-center">
                  <a href="javascript:void (0)" class="btn btn-pill btn-success px-5">
                    <h3 class="mb-0" (click)="paymentFormSubmit()">Continue</h3>
                  </a>
                </div>
              </div>
            </form>
          </div>
          <div class="row mt-5">

          </div>



        </div>
      </div>
    </div>
  </form>
</div>

<app-footer></app-footer>