.topnav {
    overflow: hidden;
    background-color: chocolate;
    height: 80px;
    
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: chocolate;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  .font{
      font-size: 32px;
      font-weight: 500;
  }
  .font2{
    margin-left: -13%;
    color: lightgray;
    font-weight: 600;

  }
  .fon{
      color: lightgray;
      font-weight: 600;

  }
  .nav-tabs {
    border-bottom: none;
}
#pills-tab.nav-tabs .nav-item.show .nav-link,
#pills-tab.nav-tabs .nav-link.active {
  background-color: #ff852c;
  color: #fff;
}

#pills-tab.nav-tabs .nav-link {
  color: #ff852c;
  border-bottom: 2px solid #ff852c !important;
  border-right: 1px solid #ff852c;
  border-left: 1px solid #ff852c;
  border-top: 1px solid #ff852c;
}

#pills-tab.nav-tabs .nav-item:first-child .nav-link {
  border-top-left-radius: 12px;
  border-top-right-radius: 0;
}

#pills-tab.nav-tabs .nav-item:not(:first-child):not(:last-child) .nav-link {
  border-radius: 0;
}

#pills-tab.nav-tabs .nav-item:last-child .nav-link {
  border-top-right-radius: 12px;
  border-top-left-radius: 0;
}

#pills-tab.nav-tabs .nav-link.active {
  color: #fff;
}

.textField{
width: 350px;
height: 40px;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 2px solid lightgray;
border-radius: 4px;
}
.button{
    margin-top: -6px;
    height: 40px;
  
}
.button2{
  margin-top: -6px;
  height: 40px;
  position: absolute;
  top: 102%;
  left: 85%;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.label{
    font-size: 32px;
    font-weight: 600;
}
article {
    float: left;
    padding: 20px;
    width: 90%;
    background-color: #f1f1f1;
    height: 350px; /* only for demonstration, should be removed */
  }
  .articels
  {
    float: left;
    padding: 20px;
    width: 84%;
    background-color: #f1f1f1;
    height: 210px;
  }
  .upload-profile .form-control {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  }
  
  .upload-profile .fa {
    position: absolute;
    bottom: 15px;
    right: 10px;
  }
  #w3mission{
    position: absolute;
    left: 158%;
  }
  .close{
    position: absolute;
    left: 77%;
  }
  .hide{
    display: none;
  }
  .label4{
   font-size: 28px;
   /* font-weight: 600; */
  }
  .styles{
    width: 300px;
    height: 46px;
  }
  .color{
    color: darkgrey;
  }
  .lottery{
    width: 378px;
    height: 159px;
    position: absolute;
    left: 19%;
    top: 35%;
  }
  .imageData{
    width: 300px;
    height: 100px;
    width: 488px;
    height: 56px;
    position: absolute;
    left: 13%;
  }
  .imageData2{
    width: 300px;
    height: 100px;
    width: 488px;
    height: 56px;
    position: absolute;
    left: 13%;
    top: 80%;
  }
  .buttonDesign{
    position: absolute;
    left: -22%;
  }
  .companyName{
    width: 100%;
    height: 42px;
  }
  .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  /* /////////////////////////-----Progress Bar///////////////////////////////////////////////////////////// */


  .container {
    width: 100%;
  }
  
  .progressbar {
    counter-reset: step;
  }
  .progressbar li {
    list-style: none;
    display: inline-block;
    width: 30.33%;
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height : 30px;
    border: 1px solid #ddd;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
  }
  .progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index : -1;
  }
  .progressbar li:first-child:after {
    content: none;
  }
  .progressbar li.active {
    color: green;
  }
  .progressbar li.active:before {
    border-color: green;
  } 
  .progressbar li.active + li:after {
    background-color: green;
  }


  .dropdown a:hover{
    background-color: blue;
    }