
        <app-header></app-header>
<app-sidebar></app-sidebar>
        
    <!-- lets start to doing the program here -->
      <!-- <div class="container">
          <div class="row">
              <label >User Name   :</label>              
          </div>
          <div  style="margin-left: 280px;">
              <label>Email :</label>
          </div>

          <div  style="margin-left: 280px;">
            <label>Phone :</label>
        </div>

        <div  style="margin-left: 280px;">
            <label>Company :</label>
        </div>
     
         
        <div class="card" style="margin-left: 700px; margin-top: -150px; height: 300px;">
            <div class="card-body">Show Pick there</div>
          </div>
         
      </div> -->

      <div class="col-md-5  offset-md-1 ">
          <div class="row">
                <div class="form-group col-md-4">
                <label for="username">User Name :</label>
              </div>
              <div class="form-group col-md-8">
                <input type="text" class="form-control" >
              </div>

              <div class="form-group col-md-4">
                <label for="email">Email :</label>
              </div>
              <div class="form-group col-md-8">
                <input type="text" class="form-control" >
              </div>

              <div class="form-group col-md-4">
                <label for="Phone">Phone :</label>
              </div>
              <div class="form-group col-md-8">
                <input type="text" class="form-control" >
              </div>

              <div class="form-group col-md-4">
                <label for="company">Company :</label>
              </div>
              <div class="form-group col-md-8">
                <input type="text" class="form-control"  >
              </div>
          </div>
      </div> 

      <div class="col-md-7  offset-md-4 " >

        <div class="card" style=" margin-left: 300px; margin-top: -230px; height: 300px; width: 500px;">
            <div class="card-body">Show Pick there</div>
          </div>
          

      </div>