<app-header></app-header>
<app-sidebar></app-sidebar>

<div  class="container"> 
    <table class="table table-bordered table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Company</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Anuj</td>
            <td>Anuj@gmail.com</td>
            <td>634392314</td>
            <td>relience</td>
            <td><a class="fa fa-eye" (click)=viewclient()></a></td>

          </tr>
          <tr>
            <td>Rocky</td>
            <td>rocky@gmail.com</td>
            <td>984573924</td>
            <td>Bata</td>
            <td><a class="fa fa-eye"></a></td>
          </tr>
          <tr>
            <td>Rajan</td>
            <td>rajan@gmail.com</td>
            <td>5362719237</td>
            <td>facebook</td>
            <td><a  class="fa fa-eye"></a></td>
          </tr>
        </tbody>
      </table>

</div> 