<div class="topnav">
    <div class="row mt-3 ml-4">
        <a class=""[routerLink]="[ '/dashboard' ]" ><b>Mohshri Care</b> &nbsp;&nbsp;&nbsp;| Create Your first Campign</a>

    </div>
  
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-5 "></div>
        <div class="col-md-4 ">
            <img src="assets/images/home.png" style="width: 200px;height: 200px;">
        </div>
  
    </div>  
    <div class="row">
        <div class="col-md-4 "></div>
        <div class="col-md-5 ">
            <label class="font">
                Create Your Mohshri Account
            </label><br>
          
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 "></div>
        <div class="col-md-3 ">
           
            <label class="font2">Launching your first campaign is easy,<br></label>
               <label class="fon">it only takes a few minutes!</label> 
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-7">

               
            <section id="form-signup" class="map-back d-flex align-items-center justify-content-center">
                <form class="form-signup-wrap  shadow-lg bg-white corner-border p-4"  appFocus>
                  <h2 class="font-weight-normal text-center">Welcome</h2>
                  <p class="text-center">Create an account</p>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-label-group">
                        <input type="email" id="sign-email" name="sign-email" class="form-control"
                          placeholder="Email">
                        <label form="sign-email">Email</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-label-group">
                        <input type="text" id="sign-first-name"  name="sign-first-name"
                          class="form-control" placeholder="First Name">
                        <label form="sign-first-name">First Name</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-label-group">
                        <input type="text" id="sign-last-name"  name="sign-last-name" class="form-control"
                          placeholder="Last Name">
                        <label form="sign-last-name">Last Name</label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-label-group">
                        <input type="text" id="sign-phone-number" name="sign-phone-number"
                          class="form-control" placeholder="Phone Number">
                        <label form="sign-phone-number">Phone Number <small>(optional)</small></label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-label-group">
                        <input type="password" id="sign-password"  name="sign-password" class="form-control"
                          placeholder="Password">
                        <label form="sign-password">Password</label>
              
                      </div>
                    </div>
                    <div class="col-md-12 mb-3 text-center">
                      <div class="form-label-group mb-0 text-left">
                        <input type="password" id="sign-confirm-password" name="sign-confirm-password"
                          class="form-control" placeholder="Confirm Password">
                        <label form="sign-confirm-password">Confirm Password</label>
                        
                      </div>
                      <small class="text-secondary">Your password must be at least 8 characters.</small>
                    </div>
                   
                    <div class="col-md-12">
                      <div class="form-label-group">
                        <input type="text" id="sign-city"  name="sign-city" class="form-control"
                          placeholder="City">
                        <label form="sign-city">City</label>
                      </div>
                     
                      <div class="form-label-group" >
                       
                        <select name="country" id="count" class="form-control">
                          <option value="">Select country</option>
                          <option  ></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12 text-center">
                      <p class="text-center">By continuing, you agree to EVENTSFLIX's <a href="javascript:void(0)">terms of use</a>,
                        <a href="javascript:void(0)">community guidelines</a> & <a href="javascript:void(0)">privacy policy.</a></p>
                    </div>
                    <div class="col-md-12 text-center">
                        <p class="text-center">Already have a Mohshri account?  <a (click)="login()">SingIn</a></p>                      </div>
                    <div class="col-md-12 text-center my-3">
                      <button type="submit" class="btn btn-pill btn-danger btn-lg btn-block" (click)="signup()">Create my
                        account</button>
                    </div>
                  </div>
                </form>
              </section>
             
            </div> 
            <div class="col-md-5">
          <img src="/assets/images/target.png" style="position: absolute;
          width: 127%;
          left: -27%;">
            </div>
    </div>
  </div>
  
    <app-footer></app-footer>

  