 <app-header></app-header>
<app-sidebar></app-sidebar>
<main class=" col-md-8   col-lg-9    styles">
    <div class="row">
   
    <form class="col-md-6">
        <div class="row form-Group">
            <label class="col-md-3">
                Company Name:-
            </label>
            <div class="col-md-6">
                <input type="text">
            </div>
        </div>
        <div class="row form-Group mt-3">
            <label class="col-md-3">
                Address:-
            </label>
            <div class="col-md-6">
                <input type="text">
            </div>
        </div> <div class="row form-Group mt-3">
            <label class="col-md-3">
                Phone Number:-
            </label>
            <div class="col-md-6">
                <input type="text">
            </div>
        </div> <div class="row form-Group mt-3">
            <label class="col-md-3">
                Advertised Duration:-
            </label>
            <div class="col-md-6">
                <input type="text">
            </div>
        </div> <div class="row form-Group mt-3">
            <label class="col-md-3">
                 Upload Image 
            </label>
        </div>
        <div ng-controller = "myCtrl">
            <input type="file" class="form-control position-absolute"
                        ng2FileSelect [uploader]="uploader" accept="image/*,.jpg, .png,.jpeg">
            <!-- <input type = "file" file-model = "myFile"/> -->
            <!-- <button (click) = "uploadFile()">upload me</button> -->
         </div>
    </form>


    <article class="col-md-6">
        <div class="row">
          <!-- <input type="file" class="form-control position-absolute"
          ng2FileSelect [uploader]="uploader" accept="image/*,.jpg, .png,.jpeg"> -->
   <img src="" id="profileImage-logo" class="imageData">
        
        </div>
        <div class="screen">
          <img src="{{imageUrl}}" class="lottery img-fluid">

        </div>
        <div class="row">
          <!-- <input type="file" class="form-control position-absolute"
          ng2FileSelect [uploader]="uploader" accept="image/*,.jpg, .png,.jpeg"> -->
   <img src="" id="profileImage-logo" class="imageData2">
        </div>
    </article>                   
            <button type="button" class="btn btn-primary sty">Save</button>
      </div>
</main>








 