.styles{
    position: absolute;
    top: 30%;
    left: 20%;
    
}

label{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 15px;    
}




.lottery{
    width: 459px;
    height: 190px;
    position: absolute;
    left: 6%;
    top: 24%;
  }
  .imageData{
    width: 300px;
    height: 100px;
    width: 459px;
    height: 56px;
    position: absolute;
    left: 6%;
  }
  .imageData2{
    width: 300px;
    height: 100px;
    width: 459px;
    height: 56px;
    position: absolute;
    left: 6%;
    top: 80%;
  }

  article {
    float: left;
    padding: 20px;
    width: 90%;
    background-color: #f1f1f1;
    height: 400px; /* only for demonstration, should be removed */
    margin-top: -50px;
  }
  .articels
  {
    float: left;
    padding: 20px;
    width: 84%;
    background-color: #f1f1f1;
    height: 210px;
  }


input:hover{
    background-color:lightgrey;
}

.form-control{
  width: 80%;
  padding: 5px ;
  line-height: 1.25;
}

.sty{
  margin-left: 15%;
  width: 10%;
}





