<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 mt-2">
      <section id="form-content" class="map-back d-flex align-items-center justify-content-center ">
        <form class="form-signin-wrap  corner-border p-4">
          <div class="row">
            <h3 class="tags ml-4"> CONTENT PROVIDERS</h3>
          </div>
          <ul class="a">
            <li class="mt-3">Analyze and receive new insight into the valuable traffic Mohshri is driving to your campaigns
            </li>
            <li  class="mt-3">Learn about your contents performance across the Mohshri network</li>
            <li  class="mt-3">Track the KPIs you need to optimize your content distribution campaign </li>
            
          </ul>
          
          <div class="row mt-2 ml-5">
            <a href="javascript:void(0)">
              Not a client? See what Mohshri can do for publishers
            </a>
          </div>
          <div class="row mt-5 ml-4">
            <h3 class="tag"> PUBLISHERS</h3>
          </div>
          <ul class="a">
            <li class="mt-3">Analyze the performance of your site’s Mohshri widgets

            </li>
            <li  class="mt-3">See how much revenue your Mohshri widgets are generating
            </li>
            <li  class="mt-3">Control the content displayed in your widgets - promote or exclude content to keep them in-line with editorial considerations
            </li>
            
          </ul>
          
          <div class="row mt-2 ml-5">
            <a href="javascript:void(0)">
              Not a client? See what Mohshri can do for publishers
            </a>
          </div>
        
          
        </form>
      </section>
    </div>
    <div class="col-md-5 mt-2">
      <section id="form-signin" class="map-back d-flex align-items-center justify-content-center ">
        <form class="form-signin-wrap shadow-lg bg-white corner-border p-4">
          <h2 class="font-weight-normal text-center">Get Started</h2>
          <p class="text-center">By continuing, you agree to Mohshri's <a href="javascript:void(0)">terms of use</a>, <a
              href="javascript:void(0)">community guidelines</a> & <a href="javascript:void(0)">privacy policy.</a></p>
                        
            
              <!-- <div class="row">
            <div class="col-md-12 text-center">
              <button class="btn btn-pill btn-fb btn-lg btn-block">Log in with Facebook</button>
            </div>
            <div class="col-md-12 text-center">
              <p class="m-0 my-2">or</p>
            </div>
            <div class="col-md-12">
              <div class="form-label-group">
                <label form="sign-email">Email</label>
                <input type="email" id="sign-email"  name="sign-email" class="form-control"
                  placeholder="Email" (keyup)="emailVerify(email.value)" #email>
                  <div class="alertmsg">{{alertmsg}}</div>
              </div>
              <br>
            </div>
            <div class="col-md-12">
              <div class="form-label-group">
                <label form="sign-password">Password</label>              
                <input type="password" id="sign-password"  name="sign-password" class="form-control"
                  placeholder="Password" (keyup)="passwordverify(pass.value)" #pass>
              </div>
              <br>
            </div>
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-pill btn-danger btn-lg btn-block" (click)=ad() >Let's Start</button>
            </div>
          



            


            <div class="col-md-12 text-center mt-3">
              <a [routerLink]="[ '/forgot-password' ]" class="">
                <small class="text-secondary border-bottom">Forgot Password?</small>
              </a>
            </div>
            <div class="col-md-12 text-center mt-3">
              <p class="text-secondary m-0">New to Mohshri?</p>
              <a [routerLink]="[ '/home' ]" class="d-inline-block">
                <h5 class="text-danger">Sign Up</h5>
              </a>
            </div>
          </div> -->

                    
          
          <form [formGroup]="loginForm">
            <div class="row">

              <div class="col-md-12 text-center">
                <button class="btn btn-pill btn-fb btn-lg btn-block">Log in with Facebook</button>
              </div>
              <div class="col-md-12 text-center">
                <p class="m-0 my-2">or</p>
              </div>
            
              <div class="col-md-12">
                <div class="form-label-group">
                  <label form="sign-email">Email</label>
                  <input type="email" id="sign-email"  name="sign-email" class="form-control"
                    placeholder="Email " formControlName="emailID">
                  
                </div>
                <br>
              </div>
              <div class="col-md-12">
                <div class="form-label-group">
                  <label form="sign-password">Password</label>
                  <input type="password" id="sign-password"  name="sign-password" class="form-control"
                    placeholder="Password" formControlName="password">
                  
                </div>
                <br>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-pill btn-dang btn-lg btn-block"(click)="login()">Login</button>
              </div>
              <div class="col-md-12 text-center mt-3">
                <a [routerLink]="[ '/forgot-password' ]" class="">
                  <small class="text-secondary border-bottom">Forgot Password?</small>
                </a>
              </div>
              <div class="col-md-12 text-center mt-3">
                <p class="text-secondary m-0">New to Mohshri?</p>
                <a [routerLink]="[ '/home' ]" class="d-inline-block">
                  <h5 class="text-danger">Sign Up</h5>
                </a>
              </div>         
            </div>

           </form>
        </form>
      </section>
    </div>
  </div>
</div>

