/* #form-signin .form-signin-wrap {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin-top: 70px;
}
#form-signin .form-signin-wrap {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    
}
@media (min-width: 992px) {
    #form-signin .form-signin-wrap {
        width: 100%;
        max-width: 530px;
        padding: 15px;
        margin: auto;
    }

    #form-signin .welcom-user-wrap {
        width: 100%;
        max-width: 850px;
        padding: 15px;
        margin: auto;
    }
    #form-content .welcom-user-wrap {
        width: 100%;
        max-width: 850px;
        padding: 15px;
        margin: auto;
    }
}
.btn-fb {
    background: #3b5998;
    color: #fff;
}
.styles{
    position: absolute;
}
.tags{
    color: orange;
    font-family: "Times New Roman", Times, serif;
}
.tag{
    color: purple;
    font-family: "Times New Roman", Times, serif;
}

.alertmsg{
    color: red;
    font-size: 12px;
} */




#form-signin .form-signin-wrap {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin-top: 70px;
}
#form-signin .form-signin-wrap {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    /* margin: auto; */
}
@media (min-width: 992px) {
    #form-signin .form-signin-wrap {
        width: 100%;
        max-width: 530px;
        padding: 15px;
        margin: auto;
    }

    #form-signin .welcom-user-wrap {
        width: 100%;
        max-width: 850px;
        padding: 15px;
        margin: auto;
    }
    #form-content .welcom-user-wrap {
        width: 100%;
        max-width: 850px;
        padding: 15px;
        margin: auto;
    }
}
.btn-fb {
    background: #3b5998;
    color: #fff;
}
.styles{
    position: absolute;
}
.tags{
    color: orange;
    font-family: "Times New Roman", Times, serif;
}
.btn-dang {
    color: #fff;
    background-color: brown;
    border-color: brown;
}
.tag{
    color: purple;
    font-family: "Times New Roman", Times, serif;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
.button{
    position: absolute;
    left: 87%;
    top: 18%;
}
.bg-img {
  /* The image used */
  background-image: url('/assets/images/background.jpg');
   /* <img src="/assets/images/target.png"  */

  min-height: 125px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 20px;
    left: 51%;
    width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  /* background-color: #333; */
}

/* Navbar links */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}