/* #pills-tab.nav-tabs .nav-item.show .nav-link,
#pills-tab.nav-tabs .nav-link.active {
  background-color: #ff852c;
  color: #fff;
}

#pills-tab.nav-tabs .nav-link {
  color: #ff852c;
  border-bottom: 2px solid #ff852c !important;
  border-right: 1px solid #ff852c;
  border-left: 1px solid #ff852c;
  border-top: 1px solid #ff852c;
  margin-top: -500px;
}

#pills-tab.nav-tabs .nav-item:first-child .nav-link {
  border-top-left-radius: 12px;
  border-top-right-radius: 0;
}

#pills-tab.nav-tabs .nav-item:not(:first-child):not(:last-child) .nav-link {
  border-radius: 0;
}

#pills-tab.nav-tabs .nav-item:last-child .nav-link {
  border-top-right-radius: 12px;
  border-top-left-radius: 0;
}

#pills-tab.nav-tabs .nav-link.active {
  color: #fff;
} */

.main{
    margin-left: 200px;
    margin-top: -500px;
    width: auto;
}
li {
    margin-top: 10px;
}
 .center
{
    margin-left: 40%;
    /* background-color: lightslategray; */
}
/* .cen
{
   background-color: lightslategray; 
} */

/* .form-control{
  width: 40%;
  margin-left: 7%;
  margin-top: -4%;
  background-color: gray;
}



button
{
  text-align: center;
  margin-left: 20%;
  color: aqua;
}

.bt
{
  margin-left: 40%;
}

.container
{
  height: 30%;
  width: 40%;
  background-color: grey;
  padding-top: 20px;
  padding-bottom: 20px;
} */



