<app-header></app-header>
<app-sidebar></app-sidebar>


<div class="main">

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item center">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-account" role="tab"
        aria-controls="pills-home" aria-selected="true">Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-Setting" role="tab"
        aria-controls="pills-profile" aria-selected="false">Setting</a>
    </li>

  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-account" role="tabpanel" aria-labelledby="pills-home-tab">

      <div class="col-md-6 offset-3">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group  ">
              <button type="button" class="btn btn-primary btn-large pull-right  bt" (click)="onEdit()">Edit</button>
            </div>
          </div>

          <br>
          <br>
          <br>

          <div class="form-group col-md-2">
            <label>Name:</label>
          </div>
          <div class="form-group col-md-10">
            <input type="text" class="form-control" id="name" [readonly]="variable">
          </div>

          <div class="form-group col-md-2">
            <label>Email:</label>
          </div>
          <div class="form-group col-md-10">
            <input type="text" class="form-control" id="Email" [readonly]="variable">
          </div>

          <div class="form-group col-md-2">
            <label>Phone:</label>
          </div>
          <div class="form-group col-md-10">
            <input type="text" class="form-control" id="Phone" [readonly]="variable">
          </div>

          <div class="form-group col-md-2">
            <label>Address:</label>
          </div>
          <div class="form-group col-md-10">
            <input type="text" class="form-control" id="address" [readonly]="variable">
          </div>

          <div class="col-md-12">
            <div class="form-group  ">
              <button type="button" class="btn btn-primary btn-large pull-right  ">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-Setting" role="tabpanel" aria-labelledby="pills-profile-tab">
            <br>
            <br>
      

        <div class="col-md-6 offset-3">
          <div class="row">
            <div class="form-group col-md-4">
              <label>Current Password</label>
            </div>
            <div class="form-group col-md-8">
              <input type="text" class="form-control" id="address" >
            </div>

            <div class="form-group col-md-4">
              <label>New Password</label>
            </div>
            <div class="form-group col-md-8">
              <input type="text" class="form-control" id="address" >
            </div>

            <div class="form-group col-md-4">
              <label>Confirmed Password</label>
            </div>
            <div class="form-group col-md-8">
              <input type="text" class="form-control" id="address" >
            </div>

            <div class="col-md-12">
              <div class="form-group  ">
                <button type="button" class="btn btn-primary btn-large btn-block  ">Save</button>
              </div>
            </div>
          </div> 

        </div>





    </div>
              
  </div>








</div>