<div class="topnav">
  <div class=" row mt-3 ml-4">
    <a class="" [routerLink]="[ '/dashboard' ]"><b>Mohshri Care</b> &nbsp;&nbsp;&nbsp;| Create Your first Campign</a>

    <div class="col-sm-2 offset-6 ">
      <!-- <div class="dropdown">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
          Client
        </button>
        <div class="dropdown-menu dropright">
          <a class="dropdown-item dropdown-toggle  " href="#" data-toggle="dropdown">profile</a>
        <div class="dropdown-menu  ">
        <a class="dropdown-item" (click)=changepass() > Change Password</a>
        <a class="dropdown-item" href="#"> Setting</a>	
        </div>
          <a class="dropdown-item  " href="#" >Logout</a>
           </div>
      </div> -->
      <div class="col order-last offset-md-5">
      <select (change) = "changepass($event)" class="pull-right col-auto" style="width: 20px;  height: 20px; border-radius: 100px; padding-top: 50px;">
        <option value="" hidden></option>  
        <option value="pro">Profile</option>
        <option value="log">Logout</option>
              </select>
            </div>
    </div>
  </div>
</div>








<div class="col-md-12 mt-4">
  <ul class="nav nav-tabs mb-4 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-activated-employee-tab" data-toggle="pill" href="#pills-activated-employee"
        role="tab" aria-controls="pills-activated" aria-selected="false">Change Password</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-deactivated-employee-tab" data-toggle="pill" href="#pills-deactivated-employee"
        role="tab" aria-controls="pills-deactivated" aria-selected="true">Client Setting</a>
    </li>
    
  </ul>
</div>

        <br>
        

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-activated-employee" role="tabpanel"
            aria-labelledby="pills-activated-employee-tab">
            <div class="row">

              <div class="col-md-6 offset-3">
                <div class="row">
                    
                    <div class="form-group col-md-12 text-center text-warning"><h1>Change Password</h1></div>
                    <br>
                  <div class="form-group col-md-4">
                    <label>Current Password</label>
                  </div>
                  <div class="form-group col-md-8">
                    <input type="text" class="form-control" id="address" >
                  </div>
            
                  <div class="form-group col-md-4">
                    <label>New Password</label>
                  </div>
                  <div class="form-group col-md-8">
                    <input type="text" class="form-control" id="address" >
                  </div>
            
                  <div class="form-group col-md-4">
                    <label>Confirmed Password</label>
                  </div>
                  <div class="form-group col-md-8">
                    <input type="text" class="form-control" id="address" >
                  </div>
            
                  <div class="col-md-12">
                    <div class="form-group  ">
                      <button type="button" class="btn btn-primary btn-large btn-block  ">Save</button>
                    </div>
                  </div>
                </div>             
              </div>              
            </div>
          </div>

        <div class="tab-pane fade " id="pills-deactivated-employee" role="tabpanel"
          aria-labelledby="pills-deactivated-employee-tab">
          <div class="row">
            <div class="col-md-8 offset-2">
    
                   
                <section id="form-signup" class="map-back d-flex align-items-center justify-content-center">
                    <form class="form-signup-wrap  shadow-lg bg-white corner-border p-4"  appFocus>
                      <h2 class="font-weight-normal text-center">Client Setting</h2>
                      <p class="text-center">Create an Client account</p>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-label-group">
                            <input type="text" id="Company-name" name="Company-name" class="form-control"
                              placeholder="Company-name">
                            <label form="sign-email">Comapny Name</label>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-label-group">
                            <input type="text" id="sign-first-name"  name="sign-first-name"
                              class="form-control" placeholder="First Name">
                            <label form="sign-first-name"> Name</label>
                          </div>
                        </div>
                       
                        <div class="col-md-12">
                          <div class="form-label-group">
                            <input type="email" id="sign-email" name="Email"
                              class="form-control" placeholder="Email">
                            <label form="sign-email">Email</label>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-label-group">
                            <input type="text" id="sign-phone"  name="sign-phone" class="form-control"
                              placeholder="Phone">
                            <label form="sign-phone">Phone</label>
                  
                          </div>
                        </div>
                        <div class="col-md-9 mb-3 text-center">
                          <div class="form-label-group mb-0 text-left">
                            <input type="text" id="sign-duration" name="sign-duration"
                              class="form-control" placeholder="Duration">
                            <label form="sign-duration">Advertised Duration</label>
                            </div>
                        </div>
                          <div class="col-md-3 mb-3 text-center">
                            <button type="button" name="btn renuval" class="btn-primary">Renuval</button>
                          </div> 

                         <!-- <div class="col-md-2 mt-3">
                          <label>
                               Add
                          </label>
                      </div>
                      <div class="col-md-9" ng-controller = "myCtrl">
                          <input type="file" class="form-control position-absolute"
                                      ng2FileSelect [uploader]="uploader" accept="image/*,.jpg, .png,.jpeg">
                          
                       </div> -->

                       <div class="col-md-12 ">
                        <div class="input-group ">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Add</span>
                          </div>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          </div>
                        </div>                          
                      </div>  
                      
                      
                        <div class="col-md-12 mt-2">
                          <div class="form-label-group">
                            <input type="text" id="sign-city"  name="sign-city" class="form-control"
                              placeholder="City">
                            <label form="sign-city">City</label>
                          </div>
                         
                          <div class="form-label-group" >
                           
                            <select name="country" id="count" class="form-control">
                              <option value="">Select country</option>
                              <option  ></option>
                            </select>
                          </div>
                        </div>

                        
                        <div class="col-md-12 text-center my-3">
                          <button type="submit" class="btn btn-pill btn-danger btn-lg btn-block" (click)="signup()">Save
                            </button>
                        </div>
                      </div>
                    </form>
                  </section>
                 
                </div> 
                
        </div>



        </div>









<app-footer></app-footer>