.topnav {
    overflow: hidden;
    background-color: chocolate;
    height: 80px;
    
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: chocolate;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }





 /* this is for the tab button  */

  .nav-tabs {
    border-bottom: none;
}
#pills-tab.nav-tabs .nav-item.show .nav-link,
#pills-tab.nav-tabs .nav-link.active {
  background-color: #ff852c;
  color: #fff;
}

#pills-tab.nav-tabs .nav-link {
  color: #ff852c;
  border-bottom: 2px solid #ff852c !important;
  border-right: 1px solid #ff852c;
  border-left: 1px solid #ff852c;
  border-top: 1px solid #ff852c;
}

#pills-tab.nav-tabs .nav-item:first-child .nav-link {
  border-top-left-radius: 12px;
  border-top-right-radius: 0;
}

#pills-tab.nav-tabs .nav-item:not(:first-child):not(:last-child) .nav-link {
  border-radius: 0;
}

#pills-tab.nav-tabs .nav-item:last-child .nav-link {
  border-top-right-radius: 12px;
  border-top-left-radius: 0;
}

#pills-tab.nav-tabs .nav-link.active {
  color: #fff;
}






/* this is for the client setting */


.font{
  font-size: 32px;
  font-weight: 500;
}
.font2{
margin-left: -13%;
color: lightgray;
font-weight: 600;

}
.fon{
  color: lightgray;
  font-weight: 600;

}
/* --------------------------------------------------------------------------------------- */
#form-signup .form-signup-wrap {
width: 100%;
max-width: 700px;
padding: 15px;
margin-top: 20px;
}
form .form-label-group {
position: relative;
margin-bottom: 1rem;
}

form .form-label-group>input,
form .form-label-group>label {
height: 2.7rem;
padding: .75rem 0;
border-radius: 0;
border: none;
border-bottom: 1px solid;
}

form .form-label-group>select {
height: 3.125rem;
padding: .75rem 0;
border-radius: 0;
border: none;
border-bottom: 1px solid;
}

form .form-label-group>textarea {
height: auto;
padding: .75rem 0;
border-radius: 0;
border: none;
border-bottom: 1px solid;
}

form .form-label-group>label {
position: absolute;
top: -3px;
left: 0;
display: block;
width: 100%;
margin-bottom: 0;
/* Override default `<label>` margin */
line-height: 1.5;
color: #495057;
pointer-events: none;
cursor: text;
/* Match the input under the label */
border: 1px solid transparent;
border-radius: .25rem;
-webkit-transition: all .1s ease-in-out;
-o-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
}

form .form-label-group input::-webkit-input-placeholder,
form .form-label-group textarea::-webkit-textarea-placeholder {
color: transparent;
}

form .form-label-group input:-ms-input-placeholder,
form .form-label-group textarea:-ms-textarea-placeholder {
color: transparent;
}

form .form-label-group input::-ms-input-placeholder,
form .form-label-group textarea::-ms-textarea-placeholder {
color: transparent;
}

form .form-label-group input::-webkit-input-placeholder,
form .form-label-group textarea::-webkit-input-placeholder {
color: transparent;
}

form .form-label-group input:-ms-input-placeholder,
form .form-label-group textarea:-ms-input-placeholder {
color: transparent;
}

form .form-label-group input::-ms-input-placeholder,
form .form-label-group textarea::-ms-input-placeholder {
color: transparent;
}

form .form-label-group input::placeholder,
form .form-label-group textarea::placeholder {
color: transparent;
}

form .form-label-group input:not(:placeholder-shown),
form .form-label-group textarea:not(:placeholder-shown),
form .form-label-group select:not(:placeholder-shown),
form .form-label-group select:not(:placeholder-shown)~label.active {
padding-top: 1.25rem !important;
padding-bottom: .25rem;
}

form .form-label-group input:not(:placeholder-shown)~label,
form .form-label-group textarea:not(:placeholder-shown)~label,
form .form-label-group input:not(:placeholder-shown)~label.active,
form .form-label-group textarea:not(:placeholder-shown)~label.active,
form .form-label-group select:not(:placeholder-shown)~label.active {
padding-top: .25rem;
padding-bottom: .25rem;
font-size: 12px;
color: #ff5162;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
form .form-label-group>label {
    display: none;
}

form .form-label-group input::-ms-input-placeholder,
form .form-label-group textarea::-ms-textarea-placeholder {
    color: #777;
}
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
form .form-label-group>label {
    display: none;
}

form .form-label-group input:-ms-input-placeholder,
form .form-label-group textarea:-ms-textarea-placeholder {
    color: #777;
}
}
