button
{
    
    margin-left: 80%;
    margin-top: -950px;
      
} 

/* table.t
{
    margin-left: 260px;    
    margin-top: -430px;
    height: auto;
    width: 80%;
    position: relative;
}  */

table
{
 margin-left: 220px;
 position: relative;
 margin-top: -450px;
 width: 80%;
}

.fa-eye
{
    border: 0px;
    
}

.fa-eye :hover
{
 background-color: gray;
}