<app-header></app-header>
<app-sidebar></app-sidebar>

<div  class="container"> 
    <button type="button" class="btn btn-primary" (click)=addcomp()>Add Comapny</button>
    <table class="table table-bordered table-striped table-dark">
        <thead>
          <tr>
            <th>Company</th>
            <th>Address</th>
            <th>Phone No</th>
            <th>Another Number</th>
            <th>Advertised Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Anuj</td>
            <td>Anuj@gmail.com</td>
            <td>634392314</td>
            <td>relience</td>
            <td>this</td>

          </tr>
          <tr>
            <td>Rocky</td>
            <td>rocky@gmail.com</td>
            <td>984573924</td>
            <td>Bata</td>
            <td>that</td>
          </tr>
          <tr>
            <td>Rajan</td>
            <td>rajan@gmail.com</td>
            <td>5362719237</td>
            <td>facebook</td>
            <td>happed</td>
          </tr>
        </tbody>
      </table>

</div> 