<div class="row" >
    <div class="col-md-2">
      <div class="sidebar">
          <a (click)=manageclient()><i class="fa fa-user-circle"></i> Manage Clint</a>
          <a (click)=managecomp() ><i class="fa fa-address-card-o"></i> <small style="font-size: large;"> Manage Company </small></a>
          <a ><i class="fa fa-fw fa-wrench"></i> Settting</a>
          <a ><i class="fa fa-fw fa-envelope"></i>Manage Ad</a>
          <a (click)=account()><i class="fa fa-archive"></i>Account</a>
          <a [routerLink]="['/dashboard']" ><i class="fa fa-home" ></i>Logout</a>
         
        </div>

    </div>
</div>
