.topnav {
  overflow: hidden;
  background-color: chocolate;
  height: 80px;
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: chocolate;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar {
  height: 500px;
  width: auto;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) { 
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  
}
