<!-- <div class="topnav">
    <div class="row mt-3 ml-4">
        <a class=""[routerLink]="[ '/dashboard' ]" ><b>Mohshri Care</b> &nbsp;&nbsp;&nbsp;| Create Your first Campign</a>

    </div>
  
  </div>
  <div class="row" >
      <div class="col-md-2">
        <div class="sidebar">
            <a (click)=mc()><i class="fa fa-user-circle"></i> Manage Clint</a>
            <a ><i class="fa fa-address-card-o"></i> Manage Adervertise</a>
            <a href="#clients"><i class="fa fa-fw fa-wrench"></i> Settting</a>
            <a href="#contact"><i class="fa fa-fw fa-envelope"></i>Manage Ad</a>
          
          </div>

      </div>
  </div> -->

  <app-header></app-header>
  <app-sidebar></app-sidebar>